@model MvcMovie.Models.Building

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Building</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="BuildingEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="customer_id"/>
            <div class="form-group">
                <label asp-for="full_name_of_the_building_administrator" class="control-label"></label>
                <input asp-for="full_name_of_the_building_administrator" class="form-control"/>
                <span asp-validation-for="full_name_of_the_building_administrator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email_of_the_administrator_of_the_building" class="control-label"></label>
                <input asp-for="email_of_the_administrator_of_the_building" class="form-control" />
                <span asp-validation-for="email_of_the_administrator_of_the_building" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phone_number_of_the_building_administrator" class="control-label"></label>
                <input asp-for="phone_number_of_the_building_administrator" class="form-control" />
                <span asp-validation-for="phone_number_of_the_building_administrator" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
